<div class="loading" id="loading">
  <div class='uil-ring-css' style='transform:scale(0.79);'>
    <div></div>
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#" ><img src="../../assets/wayzooklogo.png" style="margin-top: -30px;
        width: 70px;" alt=""></a>
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/wayzook']">Home</a></li>
        <li><a [routerLink]="['/domesticTour']">Tour Packages</a></li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tours Packages
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/domesticTour']">Domestic</a></li>
            <li><a [routerLink]="['/domesticTour']">International</a></li>
          </ul>
        </li> -->
        <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
        <!-- <li><a href="#">Book Flights</a></li> -->
        <li><a (click)="scrollToElement(target)" style="cursor: pointer;">Contact Us</a></li>
        <li><a [routerLink]="['/aboutUs']">About Us</a></li>
        <!--<li><a href="#">Contact</a></li>-->
      </ul>
    </div>
  </div>
</nav>



<main #top>
  <div class="container">
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="{{image}}">
          </div>
          <ul class="image-list">
            <li class="image-item" *ngFor="let data of tourImages;let i=index"><img (click)="setImage(i)" src="{{data.image}}"></li>
            

          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1 style="display: inline-block;">{{tourInfo?.name | titlecase}} ({{tourInfo?.destName | titlecase}})<span *ngIf="tourInfo?.discount" class="flag-discount">{{tourInfo?.discount}}% OFF</span></h1>
        <br/><h5 class="nod">{{tourInfo?.nod}} Days / {{tourInfo?.non}} Nights</h5>
        <p>{{tourInfo?.cost | currency: 'INR':'symbol-narrow'}} / Person</p>
        <p>Tour Date: {{tourInfo?.startDate |  date:'longDate'}}</p>
        <p><strong>{{tourInfo?.destAbout}}</strong></p><hr>
      </div>

      <div class="row">
        <div class="col-md-6" >
          <div class="inclusion">
            <p><span style="color: black;font-weight: bold;text-align: justify">Inclusion</span><br/></p> 
          <ul class="b">
            <li *ngFor="let inc of inclusion">
                {{inc}}
            </li>
          </ul>
          </div>
          
      </div>
      <div class="col-md-6" >
        <div class="inclusion">
          <p><span style="color: black;font-weight: bold;text-align: justify;">Exclusion </span></p>
        <ul class="b">
          <li *ngFor="let inc of exclusion">
              {{inc}}
          </li>
        </ul>
        </div>
      </div>
    </div>

      <div class="column-xs-12 column-md-5 iternary" *ngFor="let data of iternary">
          <h5 style="font-weight: bold;">Day {{data.day}} : {{data.sd}}</h5>
          <div class="description">
            <p *ngFor="let desc of data.desc;let i=index">{{i+1}}) {{desc}}</p>
            <p><strong>Break Fast :</strong> <span *ngIf="data.breakfast">Included</span><span *ngIf="!data.breakfast">Not Included</span></p>
            <p><strong>Lunch :</strong><span *ngIf="data.lunch">Included</span><span *ngIf="!data.lunch">Not Included</span></p>
            <p><strong>Dinner :</strong> <span *ngIf="data.dinner">Included</span><span *ngIf="!data.dinner">Not Included</span></p>
            <!-- <p>By contrast with other plant cultivation practices, bonsai is not intended for production of food or for medicine. Instead, bonsai practice focuses on long-term cultivation and shaping of one or more small trees growing in a container.</p> -->
          </div>
      </div>
      <button class="add-to-cart" (click)="enquireNow()">Enquire Now</button>
    </div>
   
  </div>
</main>


<ngx-smart-modal #myModal identifier="myModal" customClass="nsm-dialog-animation-rtl">
  <div class="loader" id="loader"></div>
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container" [formGroup]="LoginForm" (ngSubmit)="checkLoginUser()">
      <p><input type="email" placeholder="Email" formControlName="email"></p>
      <div *ngIf="LoginForm.controls['email'].invalid && (LoginForm.controls['email'].dirty || LoginForm.controls['email'].touched)">
        <div *ngIf="LoginForm.controls['email'].errors.required" style="color: red;font-size: 14px;">
        *Email is required.
      </div>
      <div *ngIf="LoginForm.controls['email'].errors.email" style="color: red;font-size: 14px;">
        *It is a not a valid email address.
      </div>
    </div>
      <p><input type="password" placeholder="Password" formControlName="password"></p>
      <div *ngIf="LoginForm.controls['password'].invalid && (LoginForm.controls['password'].dirty || LoginForm.controls['password'].touched)">
        <div *ngIf="LoginForm.controls['password'].errors.required" style="color: red;font-size: 14px;">
        *Password is required.
      </div>
      <!-- <div *ngIf="LoginForm.controls['name'].errors.minlength" style="color: red;font-size: 14px;">
        *Password should be of minimum 7 characters long.
      </div> -->
    </div>
      <p><input type="submit" [disabled]="LoginForm.invalid" value="Log in"></p>
    </form>
  </div>

  <p style="float:right;">Not registered? <span (click)="signup()"  style="text-decoration: underline;cursor:pointer;">Signup here</span></p>

  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>



<ngx-smart-modal #myModal2 identifier="myModal2" customClass="nsm-dialog-animation-rtl">
  <div class="loader" id="loader"></div>
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Sign Up</h2>
  
    <form class="login-container" [formGroup]="Register" (ngSubmit) = "registerUser()">
      <p><input type="text" formControlName="name" placeholder="Enter Name"></p>
      <div *ngIf="Register.controls['name'].invalid && (Register.controls['name'].dirty || Register.controls['name'].touched)">
        <div *ngIf="Register.controls['name'].errors.required" style="color: red;font-size: 14px;">
        *Name is required.
      </div>
      <div *ngIf="Register.controls['name'].errors.minlength" style="color: red;font-size: 14px;">
        *Name should be of minimum 5 characters.
      </div>
    </div>
      <p><input type="email" formControlName="email" placeholder="Email"></p>
      <div *ngIf="Register.controls['email'].invalid && (Register.controls['email'].dirty || Register.controls['email'].touched)">
        <div *ngIf="Register.controls['email'].errors.required" style="color: red;font-size: 14px;">
        *Email is required.
      </div>
      <div *ngIf="Register.controls['email'].errors.email" style="color: red;font-size: 14px;">
        *It is a not a valid email address.
      </div>
    </div>
      <p><input type="password" formControlName="password" placeholder="Password (Must be 8 digit long and special character)"></p>
      <div *ngIf="Register.controls['password'].invalid && (Register.controls['password'].dirty || Register.controls['password'].touched)">
        <div *ngIf="Register.controls['password'].errors.required" style="color: red;font-size: 14px;">
        *Password is required.
      </div>
      <div *ngIf="Register.controls['password'].errors.pattern" style="color: red;font-size: 14px;">
        *Password should be strong.
      </div>
    </div>
      <p><input type="password" formControlName="confirmpassword" placeholder="Enter Password Again"></p>
      <div *ngIf="Register.controls['confirmpassword'].invalid && (Register.controls['confirmpassword'].dirty || Register.controls['confirmpassword'].touched)">
        <div *ngIf="Register.controls['confirmpassword'].errors.required" style="color: red;font-size: 14px;">
        *Confirm Password is required.
      </div>
      <div *ngIf="Register.controls['confirmpassword'].errors.mustMatch" style="color: red;font-size: 14px;">
        *Confirm Password and Password should match.
      </div>
    </div>
      <p><input type="text" formControlName="contact" placeholder="Enter Mobile Number"></p>
      <div *ngIf="Register.controls['contact'].invalid && (Register.controls['contact'].dirty || Register.controls['contact'].touched)">
        <div *ngIf="Register.controls['contact'].errors.required" style="color: red;font-size: 14px;">
        *Contact number is required.
      </div>
      <div *ngIf="Register.controls['contact'].errors.pattern" style="color: red;font-size: 14px;">
        *It is a not a valid contact number.
      </div>
    </div>
      <p><input type="submit" [disabled]="!Register.valid" value="Sign Up"></p>
    </form>
  </div>

  <!-- <p>Already registered? <span style="text-decoration: underline;cursor:pointer;text-align: center">Signup here</span></p> -->

  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>


<div id="snackbar">{{message}}</div>

<div #target>
  <app-footer ></app-footer>
  </div>