


<main>
  <div class="container">
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="https://source.unsplash.com/W1yjvf5idqA">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="../../assets/3.jpg"></li>
            <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>
            <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>Bonsai</h1>
        <h2>$19.99</h2>
        <div class="description">
          <p>The purposes of bonsai are primarily contemplation for the viewer, and the pleasant exercise of effort and ingenuity for the grower.</p>
          <p>By contrast with other plant cultivation practices, bonsai is not intended for production of food or for medicine. Instead, bonsai practice focuses on long-term cultivation and shaping of one or more small trees growing in a container.</p>
        </div>
        <button class="add-to-cart" (click)="ngxSmartModalService.getModal('myModal').open()">Add To Cart</button>
      </div>
    </div>
    <div class="grid related-products">
      <div class="column-xs-12">
        <h3>You may also like</h3>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="https://source.unsplash.com/miziNqvJx5M">
        <h4>Succulent</h4>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="https://source.unsplash.com/2y6s0qKdGZg">
        <h4>Terranium</h4>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="https://source.unsplash.com/6Rs76hNbIWE">
        <h4>Cactus</h4>
        <p class="price">$19.99</p>
      </div>
    </div>
  </div>
</main>


<ngx-smart-modal #myModal identifier="myModal" customClass="nsm-dialog-animation-rtl">
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container">
      <p><input type="email" placeholder="Email"></p>
      <p><input type="password" placeholder="Password"></p>
      <p><input type="submit" value="Log in"></p>
    </form>
  </div>

  <p style="float:right;">Not registered? <span (click)="signup()"  style="text-decoration: underline;cursor:pointer;">Signup here</span></p>

  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>



<ngx-smart-modal #myModal2 identifier="myModal2" customClass="nsm-dialog-animation-rtl">
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Sign Up</h2>
  
    <form class="login-container">
      <p><input type="text" placeholder="Enter Name"></p>
      <p><input type="email" placeholder="Email"></p>
      <p><input type="password" placeholder="Password"></p>
      <p><input type="password" placeholder="Enter Password Again"></p>
      <p><input type="text" placeholder="Enter Mobile Number"></p>
      <p><input type="submit" value="Sign Up"></p>
    </form>
  </div>

  <!-- <p>Already registered? <span style="text-decoration: underline;cursor:pointer;text-align: center">Signup here</span></p> -->

  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>