


<main #top>
  <div class="container">
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="{{image}}">
          </div>
          <ul class="image-list">
            <li class="image-item" *ngFor="let data of tourImages;let i=index"><img (click)="setImage(i)" src="{{data.image}}"></li>
            
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>{{tourInfo.name | titlecase}}-{{tourInfo.destName | titlecase}}</h1>
        <h3>{{tourInfo.nod}} Days / {{tourInfo.non}} Nights</h3>
        <h2>{{tourInfo.cost | currency: 'INR':true}}</h2>
        <div class="description">
          <p>{{tourInfo.destAbout}}</p>
          <!-- <p>By contrast with other plant cultivation practices, bonsai is not intended for production of food or for medicine. Instead, bonsai practice focuses on long-term cultivation and shaping of one or more small trees growing in a container.</p> -->
        </div>
        <button class="add-to-cart" (click)="ngxSmartModalService.getModal('myModal').open()">Add To Cart</button>
      </div>
    </div>
    <!-- <div class="grid related-products">
      <div class="column-xs-12">
        <h3>You may also like</h3>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="https://source.unsplash.com/miziNqvJx5M">
        <h4>Succulent</h4>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="https://source.unsplash.com/2y6s0qKdGZg">
        <h4>Terranium</h4>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <img src="https://source.unsplash.com/6Rs76hNbIWE">
        <h4>Cactus</h4>
        <p class="price">$19.99</p>
      </div>
    </div> -->
  </div>
</main>


<ngx-smart-modal #myModal identifier="myModal" customClass="nsm-dialog-animation-rtl">
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container" [formGroup]="LoginForm" (ngSubmit)="checkLoginUser()">
      <p><input type="email" placeholder="Email" formControlName="email"></p>
      <p><input type="password" placeholder="Password" formControlName="password"></p>
      <p><input type="submit" value="Log in"></p>
    </form>
  </div>

  <p style="float:right;">Not registered? <span (click)="signup()"  style="text-decoration: underline;cursor:pointer;">Signup here</span></p>

  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>



<ngx-smart-modal #myModal2 identifier="myModal2" customClass="nsm-dialog-animation-rtl">
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Sign Up</h2>
  
    <form class="login-container" [formGroup]="Register" (ngSubmit) = "registerUser()">
      <p><input type="text" formControlName="name" placeholder="Enter Name"></p>
      <p><input type="email" formControlName="email" placeholder="Email"></p>
      <p><input type="password"  placeholder="Password"></p>
      <p><input type="password" formControlName="password" placeholder="Enter Password Again"></p>
      <p><input type="text" formControlName="contact" placeholder="Enter Mobile Number"></p>
      <p><input type="submit" value="Sign Up"></p>
    </form>
  </div>

  <!-- <p>Already registered? <span style="text-decoration: underline;cursor:pointer;text-align: center">Signup here</span></p> -->

  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>


<div id="snackbar">{{message}}</div>