<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>																																																																																					
		  <span class="icon-bar"></span> 
		</button>
		<a class="navbar-brand" href="#" ><img src="../../assets/wayzooklogo.png" style="margin-top: -13px;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																
		  width: 70px;" alt=""></a>
	  </div>
	   <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">																																																																																																																																										
		  <li><a [routerLink]="['/wayzook']">Home</a></li>																																																																																			
		  <li><a [routerLink]="['/domesticTour']">Tour Packages</a></li>
		  <!-- <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tours Packages
			  <span class="caret"></span></a>
			<ul class="dropdown-menu">
			  <li><a [routerLink]="['/domesticTour']">Domestic</a></li>
			  <li><a [routerLink]="['/domesticTour']">International</a></li>
			</ul>
		  </li> -->
		  <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
		  <!-- <li><a href="#">Book Flights</a></li> -->
		  <li><a (click)="scrollToElement(target)" style="cursor: pointer;">Contact Us</a></li>
		  <li><a [routerLink]="['/aboutUs']">About Us</a></li>
		  <!--<li><a href="#">Contact</a></li>-->
		</ul>
	  </div>
	</div>
  </nav>

	<div class="container" >
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<span class="shtext">Contact Us</span>
					<span class="seperator"></span>
					<h1>Drop Us a Mail</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
					<div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=28.987542,79.3999991&amp;q=Rudra%20Arcade%2C%20Plot%20no%2012%2CNanital+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html"></a></iframe></div><br />
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p>Shop no-1, 1st Floor, Rudra Arcade, Plot no 12, Nanital Road,Rudrapur,Uttarakhand,263153</p>
							<p><span class="collig">Phone :</span> +91 6399715000</p>
							<p><span class="collig">Email :</span> wayzookinfo@gmail.com</p>
              <p><span class="collig">Whatsapp :</span> +91 9997311456
                <a href="https://api.whatsapp.com/send?phone=919997311456" target="blank"><img src="../../assets/whatsapp.png" style="height: 25px;
                  padding-left: 10px;"/></a>
              </p>
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form action="">
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="FirstName">
								<input class="col2 last" type="text" placeholder="LastName">
							</div>
							<div class="clearfix">
								<input  class="col2 first" type="Email" placeholder="Email">
								<input class="col2 last" type="text" placeholder="Contact Number">
							</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7" placeholder="Enter your message here..."></textarea>
							</div>
							<div class="clearfix"><input type="submit" value="Send"></div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
	</div>
<app-footer></app-footer>