
	<div class="container">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<span class="shtext">Contact Us</span>
					<span class="seperator"></span>
					<h1>Drop Us a Mail</h1>
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
          <iframe style="width:100%;height: 330px;" src="https://maps.google.com/maps?q=dehradun&t=&z=19&ie=UTF8&iwloc=&output=embed" allowfullscreen=""></iframe>
				</div>
				<div class="col2 column2 last">
					<div class="sec2innercont">
						<div class="sec2addr">
							<p>Shop no-1, 1st Floor, Rudra Arcade, Plot no 12, Nanital Road,Rudrapur,Uttarakhand,263153</p>
							<p><span class="collig">Phone :</span> +91 6399715000</p>
							<p><span class="collig">Email :</span> wayzookinfo@gmail.com</p>
              <p><span class="collig">Whatsapp :</span> +91 9997311456
                <a href="https://api.whatsapp.com/send?phone=919997311456" target="blank"><img src="../../assets/whatsapp.png" style="height: 25px;
                  padding-left: 10px;"/></a>
              </p>
						</div>
					</div>
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form action="">
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="FirstName">
								<input class="col2 last" type="text" placeholder="LastName">
							</div>
							<div class="clearfix">
								<input  class="col2 first" type="Email" placeholder="Email">
								<input class="col2 last" type="text" placeholder="Contact Number">
							</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7" placeholder="Enter your message here..."></textarea>
							</div>
							<div class="clearfix"><input type="submit" value="Send"></div>
						</form>
					</div>

				</div>
			</section>
		
		</div>
	</div>
<app-footer></app-footer>