<div class="container-fluid main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#"><img src="../../../assets/wayzooklogo.png" style="width: 150px;" alt=""></a>
      </div>
       <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/wayzook']">Home</a></li>
          <li><a [routerLink]="['/domesticTour']">Tour Packages</a></li>
          <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
          <!-- <li><a href="#">Book Flights</a></li> -->
          <li><a [routerLink]="['/contact']">Contact Us</a></li>
          <li class="active"><a [routerLink]="['/aboutUs']">About Us</a></li>
          <li><a [routerLink]="['/insurance']">Insurance</a></li>
    <li><a [routerLink]="['/visa']">Visa</a></li>
    <li appLogin><a style="cursor:pointer" (click)="login()">Login</a></li>
     <li class="dropdown" appProfile>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Tours Packages</span>
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/profile']">Profile</a></li>
        <!-- <li><a [routerLink]="['/domesticTour']">Bookings</a></li> -->
        <li><a style="cursor:pointer" (click)="logout()">Logout</a></li>
      </ul>
    </li>
          <!--<li><a href="#">Contact</a></li>-->
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
      <div class="item active background a"></div>
      <div class="item background b"></div>
      <div class="item background c"></div>
    </div>
  </div>
  
  <div class="covertext">
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title">ABOUT US</h1>
      <h3 class="subtitle">Wayzook established in the year 2017 one vision – “Discover Your Dreams”. Wayzook aims to be a one stop for travel, where all the varied and diverse needs of customers are taken care of and satiated, while planning a trip. Wayzook serves different consumer segments viz. individuals, families and businesses. </h3>
    </div>
    <!-- <div class="col-xs-12 explore">
      <a href="#"><button type="button" class="btn btn-lg explorebtn">EXPLORE</button></a>
    </div> -->
  </div>
  
</div>

<!--Services we offer-->
<div class="feat bg-gray pt-5 pb-5" style="margin-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span>Services We</span> Offer</h4>
          <p>We take care of all your needs like VISA consultancy, passport services, car or buses on hire.</p>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="items"> <span class="icon feature_box_col_one"><i class="fa fa-plane"></i></span>
            <h3>Air Ticket Bookings</h3>
            <!--<p> (Domestic and International)</p>-->
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="items"> <span class="icon feature_box_col_two"><i class="fa fa-hotel"></i></span>
          <h3>Hotel Bookings</h3>
            <p> </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="items"> <span class="icon feature_box_col_three"><i class="fa fa-calendar"></i></span>
            <h3>Holiday Packages </h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>-->
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="items"> <span class="icon feature_box_col_four"><i class="fa fa-cab"></i></span>
            <h3>Rental Cars</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>-->
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="items"> <span class="icon feature_box_col_five"><i class="fa fa-cutlery"></i></span>
            <h3>Delicious meals</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>-->
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="items"> <span class="icon feature_box_col_six"><i class="fa fa-medkit"></i></span>
            <h3>Travel Insurance</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Aenean massa.</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--About US-->
  <div class="feat bg-gray pt-5 pb-5" style="margin-top: 20px;background-color: #1c2d4f;padding-top: 20px;padding-bottom: 30px">
    <div class="container">
      <div class="row">
        <div class="section-head col-sm-12">
          <h4><span style="color: white">How Are We</span> Different?</h4>
          <!--<p>Wayzook offer an endless range of travel services to its clients to across the world. We are proud of our<br> efficiency and expertise of our team. Thus, ensuring an accurate and prompt service to all.</p>-->
        </div>
        <div>
          <div class="column">
        <div class="belief">
          <h3 >1</h3>
          <h4>Our words and actions always go hand-in-hand. We strongly Our team is patient in understanding your requirements.</h4>
          
        </div>
   
        <div class="belief">
          <h3>2</h3>
          <h4>We understand your needs and try to provide best services at very affordable price.</h4>
        </div>
   
        <div class="belief bottom">
          <h3>3</h3>
          <h4>Tour operators on our portal bring in something new to every tour package that makes it memorable for the tourists..</h4>
        </div>
   

      </div>
     
      <div class="column end">
        <div class="belief">
          <h3>4</h3>
          <h4>We revere the uniqueness of each client and his requirements and budget thus shape out the mirror-like solutions.</h4>
        </div>

         <div class="belief">
          <h3>5</h3>
          <h4>We consider the client as an integral part of the business and meeting their requirements lie at the core of our working.</h4>
        </div>
   
        <div class="belief bottom">
          <h3>6</h3>
          <h4>Preserve transparency to be correct ethically, legally and socially as well.</h4>
        </div>
   
      </div>
        </div>
      </div>
    </div>
  </div>


  <div #target>
    <app-footer ></app-footer>
    </div>





