<div class="pageLoad" id="pageLoad">
  <div class="inner">
    <div id="landing1"></div>
    <div id="landing2"></div>
    <div id="landing3"></div>
    <div id="landing4"></div>
  </div>
</div>


<!--<div id="wrapper">
  <div id="sidebar-wrapper">
     <img src="../assets/wayzooklogo.png" style="width: 175px;"/>
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
                      
</a>
</li>
<li>
  <a href="#">Why Us?</a>
</li>
<li>
  <a href="#">Tours</a>
</li>
<li>
  <a href="#">Book a tour</a>
</li>
<li>
  <a href="#">Groups</a>
</li>
<li>
  <a href="#contactus">Contact</a>
</li>
<div><img src="../assets/wayzookHoliday.png" style="width: 175px ; position: absolute;
    bottom: 0;"></div>
</div>
<div id="page-content-wrapper">-->
<div id="comppage">

  <div class="container-fluid main">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
          <a class="navbar-brand" href="#" style="font-size: 30px">Wayzook</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="active"><a [routerLink]="['/landing']">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tours Packages
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/domesticTour']">Domestic</a></li>
        <li><a href="#">International</a></li>
      </ul>
    </li>
    <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
    <li><a href="#">Book Flights</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a [routerLink]="['/aboutUs']">About Us</a></li>
    <!--<li><a href="#">Contact</a></li>-->
  </ul>
</div>
</div>
</nav>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <video [muted]="'muted'" autoplay loop id="video-bg" style="min-width: 100%;min-height: 100%">

<source src="../../assets/Switzerland.mp4" type="video/mp4">

</video>
<div class="carousel-caption">
  <ul class="cb-slideshow">
    <li><span>Image 01</span>
      <div>
        <h3 class="intro">Queen of Himachal Pradesh</h3>
        <h3 class="intro">Next Tour Available Fri 03 Apr</h3>
        <h3 class="intro">Price {{price | currency: 'INR':true}}</h3>
      </div>
    </li>
    <li><span>Image 02</span>
      <div>
        <h3 class="intro">Switzerand</h3>
        <h3 class="intro">Next Tour Available: Thu 02 Apr</h3>
        <h3 class="intro">Price {{price | currency: 'INR':true}}</h3>
      </div>
    </li>
    <li><span>Image 03</span>
      <div>
        <h3 class="intro">Spain</h3>
        <h3 class="intro">Next Tour Available Fri 03 Apr</h3>
        <h3 class="intro">Price {{price | currency: 'INR':true}}</h3>
      </div>
    </li>
    <li><span>Image 04</span>
      <div>
        <h3 class="intro">Queen of Himachal Pradesh</h3>
        <h3 class="intro">Next Tour Available Fri 03 Apr</h3>
        <h3 class="intro">Price {{price | currency: 'INR':true}}</h3>
      </div>
    </li>
    <li><span>Image 05</span>
      <div>
        <h3 class="intro">Leh Ladakh</h3>
        <h3 class="intro">Next Tour Available Fri 03 Apr</h3>
        <h3 class="intro">Price {{price | currency: 'INR':true}}</h3>
      </div>
    </li>
    <li><span>Image 06</span>
      <div>
        <h3 class="intro">Shimla</h3>
        <h3 class="intro">Next Tour Available Fri 03 Apr</h3>
        <h3 class="intro">Price {{price | currency: 'INR':true}}</h3>
      </div>
    </li>
  </ul>
</div>
</div>


</div>

</div>


<div class="section-head col-sm-12  bounceInLeft">
  <h4><span>Our Upcoming</span> Trips</h4>
  <p style="text-align: center;color: white">We take care of all your needs like VISA consultancy, passport services, car or buses on hire.</p>
</div>

<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Studio Lighting</h2>
          <p>Lighting<br> Light Modifiers<br> Light Controls<br> Backdrops
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Filmmaking Gear</h2>
          <p>LED Lighting<br> Scrim Jim Cine<br> Chroma-Key
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Speedlight Modifiers</h2>
          <p>Apollo<br> LunaGrip
            <br> Rapid Box</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Travel Photography</h2>
          <p>Rapid Box<br> Reflectors
            <br> Cases
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Newborn Photography</h2>
          <p>Props<br> Backdrops
            <br> Lighting
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Photo Enthusiast</h2>
          <p>CFL Lighting<br> Reflectors
            <br> Backdrops
          </p>
        </a>
      </div>
    </li>
  </ul>
</div>




<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Unlimited Discount, Unlimited Fun</h2>
      <p class="text-muted">Check out what with our premium trips!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <a href="#">
                  <div class="badges"><br>
                    <p>
                      <span class="firstLine">GET UP TO</span><br>
                      <span class="secondLine">40% OFF</span><br>
                      <span class="thirdLine">Instant Discount</span><br>
                      <!--<span class="fourthLine">AS A POPULAR INVESTOR</span>-->
                    </p>
                  </div>
                </a>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-calendar"></i>
                <h3>Holiday Packages</h3>
                <!--<p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-plane"></i>
                <h3>Air Ticket Bookings</h3>
                <!--<p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-hotel"></i>
                <h3>Hotel Bookings</h3>
                <!--<p class="text-muted">As always, this theme is free to download and use for any purpose!</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-cab"></i>
                <h3>Rental Cars</h3>
                <!--<p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="cta">
  <div class="cta-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><h2>Stop waiting.<br>Start Exploring.</h2>
        <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger started">Let's Get Started!</a></div>
        <div class="col-md-6 blogtext" style="float: right;color: white">We insist on prompt and pleasant customer service and the best hotels, visitor attractions and entertainment. By sharing
with you the hidden places not mentioned in guidebooks, the local people you wouldn’t otherwise meet and the traditions you
may not have experienced by yourself, we ensure that you get an authentic and enhanced experience you simply could not have
had on your own.</div>
</div>
</div>
</div>
<div class="overlay"></div>
</section>




<section class="contact bg-primary" id="contact">
  <div class="container">
    <h2>We
      <i class="fa fa-heart"></i> new friends!</h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="#">
          <i class="fa fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
</section>



<footer class="new_footer_area bg_color">
  <div class="new_footer_top" id="contactus">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
<h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
<p>Don’t miss any updates of our new tours and trips.</p>
<form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
  <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
  <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
  <p class="mchimp-errmessage" style="display: none;"></p>
<p class="mchimp-sucmessage" style="display: none;"></p>
</form>
</div>
</div>



<div class="col-lg-3 col-md-6">
  <div style="float: right" class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
<!--<h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
<div class="f_social_icon">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-linkedin"></a>

</div>-->
</div>
</div>
</div>
</div>
<div class="footer_bg">
  <div class="footer_bg_one"></div>
  <div class="footer_bg_two"></div>
</div>
</div>
<div class="footer_bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-sm-7">
        <p class="mb-0 f_400">© Wayzook 2019 All rights reserved.</p>
      </div>

    </div>
  </div>
</div>
</footer>

</div>