<div class="pageLoad" id="pageLoad">
  <div class="inner">
    <div id="landing1"></div>
    <div id="landing2"></div>
    <div id="landing3"></div>
    <div id="landing4"></div>
  </div>
</div>


<!--<div id="wrapper">
  <div id="sidebar-wrapper">
     <img src="../assets/wayzooklogo.png" style="width: 175px;"/>
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
                      
</a>
</li>
<li>
  <a href="#">Why Us?</a>
</li>
<li>
  <a href="#">Tours</a>
</li>
<li>
  <a href="#">Book a tour</a>
</li>
<li>
  <a href="#">Groups</a>
</li>
<li>
  <a href="#contactus">Contact</a>
</li>
<div><img src="../assets/wayzookHoliday.png" style="width: 175px ; position: absolute;
    bottom: 0;"></div>
</div>
<div id="page-content-wrapper">-->
<div id="comppage">

  <div class="container-fluid main">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
          <a class="navbar-brand" href="#" style="font-size: 30px">Wayzook</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a [routerLink]="['/landing']">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tours Packages
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a [routerLink]="['/domesticTour']">Domestic</a></li>
        <li><a href="#">International</a></li>
      </ul>
    </li>
    <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
    <li><a href="#">Book Flights</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a [routerLink]="['/aboutUs']">About Us</a></li>
    <!--<li><a href="#">Contact</a></li>-->
  </ul>
</div>
</div>
</nav>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!--<ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <video [muted]="'muted'" autoplay loop id="video-bg" style="min-width: 100%;min-height: 100%">

<source src="../../assets/Switzerland.mp4" type="video/mp4">

</video>
<div class="carousel-caption">
  <ul class="cb-slideshow">
    <li><span>Image 01</span>
      <div>
        <h3 class="intro"> Himachal Pradesh<br/>Next Tour: Fri 03 Apr<br/>Price {{price | currency: 'INR':true}}</h3>
        <!--<h4 class="intro border-side">Next Tour: Fri 03 Apr</h4>
        <h4 class="intro">Price {{price | currency: 'INR':true}}</h4>-->
      </div>
    </li>
    <li><span>Image 02</span>
      <div>
        <h3 class="intro">Switzerand<br/>Next Tour: Fri 03 Apr<br/>Price {{price | currency: 'INR':true}}</h3>
        <!--<h4 class="intro">Next Tour: Thu 02 Apr</h4>
        <h4 class="intro">Price {{price | currency: 'INR':true}}</h4>-->
      </div>
    </li>
    <li><span>Image 03</span>
      <div>
        <h3 class="intro">Spain<br/>Next Tour: Fri 03 Apr<br/>Price {{price | currency: 'INR':true}}</h3>
        <!--<h4 class="intro">Next Tour: Fri 03 Apr</h4>
        <h4 class="intro">Price {{price | currency: 'INR':true}}</h4>-->
      </div>
    </li>
    <li><span>Image 04</span>
      <div>
        <h3 class="intro">Himachal Pradesh<br/>Next Tour: Fri 03 Apr<br/>Price {{price | currency: 'INR':true}}</h3>
        <!--<h4 class="intro">Next Tour: Fri 03 Apr</h4>
        <h4 class="intro">Price {{price | currency: 'INR':true}}</h4>-->
      </div>
    </li>
    <li><span>Image 05</span>
      <div>
        <h3 class="intro">Leh Ladakh<br/>Next Tour: Fri 03 Apr<br/>Price {{price | currency: 'INR':true}}</h3>
        <!--<h4 class="intro">Next Tour: Fri 03 Apr</h4>
        <h4 class="intro">Price {{price | currency: 'INR':true}}</h4>-->
      </div>
    </li>
    <li><span>Image 06</span>
      <div>
        <h3 class="intro">Shimla<br/>Next Tour: Fri 03 Apr<br/>Price {{price | currency: 'INR':true}}</h3>
        <!--<h4 class="intro">Next Tour: Fri 03 Apr</h4>
        <h4 class="intro">Price {{price | currency: 'INR':true}}</h4>-->
      </div>
    </li>
  </ul>
</div>
</div>


</div>

</div>


<div class="section-head col-sm-12  bounceInLeft">
  <h4><span>Our Upcoming</span> Trips</h4>
  <p style="text-align: center;color: white">We take care of all your needs like VISA consultancy, passport services, car or buses on hire.</p>
</div>

<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Studio Lighting</h2>
          <p>Lighting<br> Light Modifiers<br> Light Controls<br> Backdrops
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Filmmaking Gear</h2>
          <p>LED Lighting<br> Scrim Jim Cine<br> Chroma-Key
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Speedlight Modifiers</h2>
          <p>Apollo<br> LunaGrip
            <br> Rapid Box</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Travel Photography</h2>
          <p>Rapid Box<br> Reflectors
            <br> Cases
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Newborn Photography</h2>
          <p>Props<br> Backdrops
            <br> Lighting
          </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#" class="sliderLink">
          <h2>Photo Enthusiast</h2>
          <p>CFL Lighting<br> Reflectors
            <br> Backdrops
          </p>
        </a>
      </div>
    </li>
  </ul>
</div>




<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Unlimited Discount, Unlimited Fun</h2>
      <p class="text-muted">Check out what with our premium trips!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <a href="#">
                  <div class="badges"><br>
                    <p>
                      <span class="firstLine">GET UP TO</span><br>
                      <span class="secondLine">40% OFF</span><br>
                      <span class="thirdLine">Instant Discount</span><br>
                      <!--<span class="fourthLine">AS A POPULAR INVESTOR</span>-->
                    </p>
                  </div>
                </a>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-calendar"></i>
                <h3>Holiday Packages</h3>
                <!--<p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-plane"></i>
                <h3>Air Ticket Bookings</h3>
                <!--<p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-hotel"></i>
                <h3>Hotel Bookings</h3>
                <!--<p class="text-muted">As always, this theme is free to download and use for any purpose!</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="fa fa-cab"></i>
                <h3>Rental Cars</h3>
                <!--<p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="w3-container w3-margin-top">
    <!--<h1 style="margin-bottom: 20px">Good Offers Right Now</h1>-->
    <!--<h6>Up to <strong>50%</strong> discount.</h6>-->
  </div>
  <div class="w3-row-padding w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="https://images.vexels.com/media/users/3/128678/isolated/preview/0673f4b680e461e878b8f4b88bfcc5d2-sale-offer-ribbon-label-by-vexels.png" alt="Cinque Terre" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">Cinque Terre</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="../../assets/tour-5.jpg" alt="New York" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">New York</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="../../assets/tour-6.jpg" alt="San Francisco" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">San Francisco</span>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="../../assets/tour-8.jpg" alt="Pisa" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Pisa</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="../../assets/tour-1.jpg" alt="Paris" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Paris</span>
          </div>
        </div>
      </div>
    </div>
  </div>



<section class="cta">
  <div class="cta-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Stop waiting.<br>Start Exploring.</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger started">Let's Get Started!</a></div>
        <div class="col-md-6 blogtext" style="float: right;color: white">We insist on prompt and pleasant customer service and the best hotels, visitor attractions and entertainment. By sharing
with you the hidden places not mentioned in guidebooks, the local people you wouldn’t otherwise meet and the traditions you
may not have experienced by yourself, we ensure that you get an authentic and enhanced experience you simply could not have
had on your own.</div>
</div>
</div>
</div>
<div class="overlay"></div>
</section>

<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <img src="../../assets/hotel-8.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750"
      style="margin-top: 40px;">
</div>

<div class="w3-col m6 w3-padding-large">
  <h1 class="w3-center">Blogs</h1><br>
  <!--<h5 class="w3-center">Our Journey</h5>-->
  <p class="w3-large">Our aim is to offer an endless range of travel services to our clients to across the world. Back in 2017, we started our
    company offline with word of mouth for our clients but we always had a vision of establishing our services online and
    now after 2 years of journey with 500+ satisfied clients, we are now ready to provide our <span class="w3-tag w3-light-grey">services</span>    to the people all around the world.</p>
  <p class="w3-large w3-text-grey w3-hide-medium">Our words and actions always go together. We strongly Our team is patient in understanding your requirements & aggressive
    in fulfilling them.</p>
  <button class="w3-btn w3-black">Read More</button>
</div>
</div>



<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/testimonials-1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much Wayzook!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/testimonials-2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Trips are amazing. I've been refer it to more friends."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/testimonials-3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these trips!"</p>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="contact bg-primary" id="contact">
  <div class="container">
    <h2>We
      <i class="fa fa-heart"></i> new friends!</h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="#">
          <i class="fa fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
</section>





<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-map-marker"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321, chandigarh</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>98765432100</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fa fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="../../assets/wayzooklogo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>Wayzook established in the year 2017 one vision – “Discover Your Dreams”. Wayzook aims to be a one stop for travel, where all the varied and diverse needs of customers are taken care of and satiated, while planning a trip.</p>
                            </div>
                            <!--<div class="footer-social-icon">
                                <span>Follow us</span>
                                <a href="#"><i class="fa fa-facebook-f facebook-bg"></i></a>
                                <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                                <a href="#"><i class="fa fa-google-plus-g google-bg"></i></a>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Domestic</a></li>
                                <li><a href="#">International</a></li>
                                <li><a href="#">Book Flights</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fa fa-telegram"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2019, All Right Reserved</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>