/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";
body
{
    font-family: unset;
}

.navbar-nav>li>.dropdown-menu
{
background-color: transparent;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* color: white; */
    font-size: 24px;
}

.dropdown-menu>li>a
{
    color:white;
}