<div class="loading" id="loading" style="display: none;">
  <div class='uil-ring-css' style='transform:scale(0.79);'>
    <div></div>
  </div>
</div>
<!--navbar-->

<div class="container-fluid main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><a class="navbar-brand" href="#">Wayzook</a></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/wayzook']">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tours Packages
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>Domestic</a></li>
              <li><a>International</a></li>
            </ul>
          </li>
          <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
          <!-- <li><a href="#">Book Flights</a></li> -->
          <li><a (click)="scrollToElement(target)" style="cursor: pointer;">Contact Us</a></li>
          <li><a [routerLink]="['/aboutUs']">About Us</a></li>
          <!--<li><a href="#">Contact</a></li>-->
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
      <div class="item active background a"></div>
      <div class="item background b"></div>
      <div class="item background c"></div>
    </div>
  </div>

  <div class="covertext">
    <!-- enguiry-form -->
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title" style="text-transform: capitalize">Let us take to your dream destination</h1>
      <!-- <h3 class="subtitle">Dream </h3> -->
    </div>

    <!-- /.enguiry-form -->
    <div class="col-xs-12 explore">
      <a><button type="button" (click)="scrollToElement(tours)" class="btn btn-lg explorebtn">Explore Now</button></a>
    </div>
  </div>

</div>
<!--navbar finish-->

<!-- <div class="section-heading text-center">
  <h2>Our Best Tours</h2>
  <p class="text-muted">Check out our top rated tours!</p>
</div> -->

<div class="ng-autocomplete">
  <ng-autocomplete 
  placeHolder="Search for you tour here"
    [data]="data"
    [searchKeyword]="keyword"
    (selected)='selectEvent($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
   
  <ng-template #itemTemplate let-item>
  <a [innerHTML]="item.name"></a>
  </ng-template>
   
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
  </div>


<div class="colorlib-wrap" #tours>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar-wrap">
          <div class="side search-wrap animate-box">
            <h3 style="text-align: center;" class="sidebar-heading">Enquire your tour</h3>
            <div class="colorlib-form">
              <div class="row">

                <div class="col-md-12">
                  <div class="form-group">
                    <!-- <label for="date">Destination Name:</label> -->
                    <div class="form-field">
                      <input type="radio" name="tour" id="r1"  ><span style="color: white;font-size: 17px;margin-right: 20px;">International</span>
                      <input type="radio" name="tour" id="r2"  ><span style="color: white;font-size: 17px;">Domestic</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date">Destination Name:</label>
                    <div class="form-field">
                      <input type="text" placeholder="Enter destination" [(ngModel)]="enquiryForm.destination">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date">City of Departure:</label>
                    <div class="form-field">
                      <input type="text" placeholder="Enter departure city" [(ngModel)]="enquiryForm.departureCity">
                    </div>
                  </div>
                </div>


                <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label for="date">Price Range:</label>
                    <div class="form-field">
                      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                    </div>
                  </div>
                </div> -->

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date">Date of Departure:</label>
                    <div class="form-field">
                      <input type="date" id="myDate" [(ngModel)]="enquiryForm.departureDate">
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="date">Contact Details:</label>
                    <div class="form-field">
                      <input type="text" placeholder="Enter your name" [(ngModel)]="enquiryForm.name">
                      <input type="email" placeholder="Enter your email address" [(ngModel)]="enquiryForm.emailid">
                      <input type="text" placeholder="Enter your contact number" [(ngModel)]="enquiryForm.contact">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <input type="submit" (click)="submitEnquiry()" name="submit" id="submit" value="Enquire Tour"
                    class="btn btn-primary btn-block">
                </div>
                <!-- <div class="col-md-12">
                  <input type="submit" (click)="getAllTours()" name="submit" id="submit" value="Reset"
                    class="btn btn-primary btn-block">
                </div> -->
              </div>
            
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- <div class="row">
          <div class="wrap-division">
            <div class="col-md-6 col-sm-6 animate-box"
              *ngFor="let data of filteredTours | paginate: {id: 'pagination3', itemsPerPage: 6, currentPage: p }">
              <div class="tour" (click)="goToTour(data.key)" style="cursor: pointer;">
                <div class="ribbon orange" *ngIf="data.discount">{{data.discount}}% OFF</div>
                <a class="tour-img" [style.background-image]="'url(' + data.imageLink + ')'">
                  <p class="price"><span>{{data.cost | currency: 'INR':true}}</span><br /> <small>{{data.nod}} Days /
                      {{data.non}} Nights</small></p>
                </a>
                <span class="desc">
                  <h2><a>{{data.name}}</a></h2>
                  <span class="city">{{data.destName}}</span>
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <h2 style="color:#232323;font-weight:bold">Popular Trips</h2>
        <div class="buttons">
          <i class="fa fa-arrow-left" id="leftbut" (click)="translateLeft()" aria-hidden="true"></i>
          <i class="fa fa-arrow-right" id="rtbut" (click)="translateright()" aria-hidden="true"></i>
        </div>
        <div class="major-box">
          <div class="box-cover" id="transform">
          <div class="box" *ngFor="let data of totalTours" (click)="goToTour(data.key)">
            <img class="product-image" src="{{data.imageLink}}" alt="">
            <span style="display: block;
            font-size: 25px;
            color: #232323;
            font-weight: 600;font-family: sans-serif;margin-left: 10px;">{{data.destName}}</span>
          <span style="    display: block;
          font-size: 14px;
          color: #545454;margin-left: 10px">{{data.non}} Nights/{{data.nod}} Days</span>
          <span style="
          font-size: 16px;
          color: #545454;margin-left: 10px">Starting From: <span style="font-size: 25px;
          color: #ef6614;font-weight: bolder;">{{data.cost | currency: 'INR':'symbol-narrow'}}</span></span>
        </div>
        
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        </div>
      </div>

      <h2 style="color:#232323;font-weight:bold">Domestic Tours</h2>
        <div class="buttons">
          <i class="fa fa-arrow-left" (click)="domesticLeft()" aria-hidden="true"></i>
          <i class="fa fa-arrow-right" (click)="domesticRight()" aria-hidden="true"></i>
        </div>
        <div class="major-box">
          <div class="box-cover2" id="transform2">
          <div class="box" *ngFor="let data of totalTours" (click)="goToTour(data.key)">
            <img class="product-image" src="{{data.imageLink}}" alt="">
            <span style="display: block;
            font-size: 25px;
            color: #232323;
            font-weight: 600;font-family: sans-serif;margin-left: 10px;">{{data.destName}}</span>
          <span style="    display: block;
          font-size: 14px;
          color: #545454;margin-left: 10px">{{data.non}} Nights/{{data.nod}} Days</span>
          <span style="
          font-size: 16px;
          color: #545454;margin-left: 10px">Starting From: <span style="font-size: 25px;
          color: #ef6614;font-weight: bolder;">{{data.cost | currency: 'INR':true}}</span></span>
        </div>
        
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        </div>
      </div>

      <h2 style="color:#232323;font-weight:bold">International Tours</h2>
        <div class="buttons">
          <i class="fa fa-arrow-left" (click)="internationalLeft()" aria-hidden="true"></i>
          <i class="fa fa-arrow-right" (click)="internationalRight()" aria-hidden="true"></i>
        </div>
        <div class="major-box">
          <div class="box-cover3" id="transform3">
          <div class="box" *ngFor="let data of totalTours" (click)="goToTour(data.key)">
            <img class="product-image" src="{{data.imageLink}}" alt="">
            <span style="display: block;
            font-size: 25px;
            color: #232323;
            font-weight: 600;font-family: sans-serif;margin-left: 10px;">{{data.destName}}</span>
          <span style="    display: block;
          font-size: 14px;
          color: #545454;margin-left: 10px">{{data.non}} Nights/{{data.nod}} Days</span>
          <span style="
          font-size: 16px;
          color: #545454;margin-left: 10px">Starting From: <span style="font-size: 25px;
          color: #ef6614;font-weight: bolder;">{{data.cost | currency: 'INR':true}}</span></span>
        </div>
        
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        <div class="box">
          <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
        
        </div>
        </div>
      </div>
       
      </div>

      <!-- SIDEBAR-->

    </div>
  </div>
</div>




<!-- <div class="row hideforphone">
  <div class="col-md-12">
    <div id="dom" class="col-md-6 text-center tourtab" (click)="domTours()">Domestic Tours</div>
    <div id="int" class="col-md-6 text-center tourtab" (click)="intTours()">International Tours</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="Domestic" [@fadeInOut]>
    <div class="wrapper"
      *ngFor="let data of totalTours | paginate: {id: 'pagination1', itemsPerPage: 3, currentPage: x }">
      <div class="product-img">
        <img src="../../../assets/tour-3.jpg" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>{{data.name | titlecase}}</h1>
          <h2>{{data.nod}} Days / {{data.non}} Nights</h2>
          <p>Harvest Vases are a reinterpretation of peeled fruits and vegetables as functional objects. The surfaces
            appear to be sliced and pulled aside, allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
          <p><span>{{data.cost | currency: 'INR':true}}</span></p>
          <button (click)="goToTour(data.key)" type="button">View More</button>
        </div>
      </div>
    </div>
    <pagination-controls id="pagination1" (pageChange)="x=$event" autoHide="true" style="text-align: center">
    </pagination-controls>
  </div>
  <div class="col-md-12" *ngIf="International" [@fadeInOut]>
    <div class="wrapper"
      *ngFor="let data of totalTours | paginate: { id: 'pagination2',itemsPerPage: 3, currentPage: r }">
      <div class="product-img">
        <img src="../../../assets/tour-3.jpg" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>{{data.name | titlecase}}</h1>
          <h2>{{data.nod}} Days / {{data.non}} Nights</h2>
          <p>Harvest Vases are a reinterpretation of peeled fruits and vegetables as functional objects. The surfaces
            appear to be sliced and pulled aside, allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
          <p><span>{{data.cost | currency: 'INR':true}}</span></p>
          <button (click)="goToTour(data.key)" type="button">View More</button>
        </div>
      </div>
    </div>
    <pagination-controls id="pagination2" (pageChange)="r = $event" autoHide="true" style="text-align: center">
    </pagination-controls>
  </div>
</div> -->



<!-- <section class="cta">
  <div class="cta-content">
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title" style="text-transform: capitalize">why choose us?</h1>
    </div>
  </div>
  <div class="container cta-content">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 faitem">
        <div class="feature-item">
          <i class="fa fa-plane"></i>
          <h3>Air Ticket Bookings</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 faitem">
        <div class="feature-item">
          <i class="fa fa-hotel"></i>
          <h3>Hotel Bookings</h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 faitem">
        <div class="feature-item">
          <i class="fa fa-cab"></i>
          <h3>Cab Bookings</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section> -->


<footer class="new_footer_area bg_color" #target>
  <div class="new_footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <img src="../../assets/wayzooklogo.png" style="width: 250px" alt="">
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Tours We Offer</h3>
            <ul class="list-unstyled f_list">
              <li>Honeymoon Tours</li>
              <li>Educational Tours</li>
              <li>Family Tours</li>
              <li>Official Tours</li>
              <li>Pilgrimage Tours</li>
              <li>International Tours</li>
              <li>Adventure Tours</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
            <p>Don’t miss any updates of our new templates and extensions.!</p>
            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
              <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
              <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
              <p class="mchimp-errmessage" style="display: none;"></p>
              <p class="mchimp-sucmessage" style="display: none;"></p>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
            <div class="f_social_icon">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-pinterest"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bg">
      <div class="footer_bg_one"></div>
      <div class="footer_bg_two"></div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-7">
          <p class="mb-0 f_400">© Wayzook 2019 All rights reserved.</p>
        </div>
        <div class="col-lg-6 col-sm-5 text-right">
          <!--<p>Made with <i class="icon_heart"></i> in <a href="#">CakeCounter</a></p>-->
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="snackbar">Enquiry Submitted Sucessfully. We will contact you shortly.</div>