<div class="major-box">
  <div class="box-cover" id="transform">
  <div class="box">
    <img class="product-image" src="../../assets/hotel-6.jpg" alt="">
  
</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
<div class="box">
  <img class="product-image" src="../../assets/hotel-6.jpg" alt="">

</div>
</div></div>

<button (click)="translateright()">right</button>
<button (click)="translateLeft()">Left</button>