.major-box
{
  height: 300px;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 40px auto;
  border-radius:4px;
}

.box{
  width: 300px;
  height: 100%;
  border: 1px solid black;
  margin: 10px;
}

.box-cover
{
  width: 100%;
  height: 100%;
  transition: 0.6s ease-in-out;
  display: -webkit-inline-box;
  transform: translateX(0px);
  white-space: nowrap;
}

.product-image
{
  width: 100%;
  height: 200px;
}