<div class="loading" id="loading">
  <div class='uil-ring-css' style='transform:scale(0.79);'>
    <div></div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#" ><img src="../../assets/wayzooklogo.png" style="margin-top: -30px;
        width: 70px;" alt=""></a>
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/wayzook']">Home</a></li>
        <li><a [routerLink]="['/domesticTour']">Tour Packages</a></li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tours Packages
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/domesticTour']">Domestic</a></li>
            <li><a [routerLink]="['/domesticTour']">International</a></li>
          </ul>
        </li> -->
        <!--<li><a [routerLink]="['/aboutUs']">Why Us?</a></li>-->
        <!-- <li><a href="#">Book Flights</a></li> -->
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
        <li><a [routerLink]="['/aboutUs']">About Us</a></li>
        <li><a [routerLink]="['/insurance']">Insurance</a></li>
    <li><a [routerLink]="['/visa']">Visa</a></li>
        <!--<li><a href="#">Contact</a></li>-->
      </ul>
    </div>
  </div>
</nav>


<div class="ft-recipe">
  <div class="ft-recipe__thumb">
      <h3></h3><img src="{{image}}" alt="Loading Destination Image..." /></div>
  <div class="ft-recipe__content">
      <header class="content__header">
          <div class="row-wrapper">
              <h2 class="recipe-title">Booking Successful for {{tourInfo?.destName}}</h2>
              <div class="user-rating"></div>
          </div>
          <ul class="recipe-details">
              <li class="recipe-details-item time"><i class="fa fa-calendar"></i><span class="value">Tour Date</span><span class="title">{{tourInfo?.startDate | date:'longDate'}}</span></li>
              <li class="recipe-details-item ingredients"><i class="fa fa-money"></i><span class="value">Amount</span><span class="title">{{tourInfo?.cost | currency: 'INR':'symbol-narrow'}}</span></li>
              <li class="recipe-details-item servings"><i class="fa fa-history"></i><span class="value">Transaction Id</span><span class="title">{{transactionId}}</span></li>
          </ul>
          <ul class="recipe-details">
            <li class="recipe-details-item time"><i class="fa fa-user"></i><span class="value">Tourist Name</span><span class="title">{{UserDetail?.name}}</span></li>
            <li class="recipe-details-item ingredients"><i class="fa fa-phone"></i><span class="value">Contact</span><span class="title">{{UserDetail?.contact}}</span></li>
            <li class="recipe-details-item servings"><i class="fa fa-envelope"></i><span class="value">Email</span><span class="title">{{UserDetail?.email}}</span></li>
        </ul>
      </header>
      <p class="description" *ngIf="tourInfo?.cancellation"> <strong>Cancellation Policy: </strong>{{tourInfo?.cancellation}}</p>
  </div>
</div>

<div class="footerdiv">
  <app-footer> </app-footer>
</div>